# Soll die Live API oder Sandbox AP benutzt werden?
# True -> Live API
# False -> Sandbox
LiveModus: False

# nur auf Anforderung ändern
Debug: Yes

# API Zugangsdaten wie hier beschrieben generieren
# https://developer.paypal.com/api/rest/#link-getcredentials
CredentialsSandBox:
  Client_ID: <client id>
  Secret: <secret>
CredentialsLive:
  Client_ID: <client id>
  Secret: <secret>

# Ab hier nichts mehr ändern!

# PayPal API Dokumentation:
# https://developer.paypal.com/api/tracking/v1/
SandBoxAPI:
  BaseUrl: 'https://api-m.sandbox.paypal.com'
  EndPoint_Token: '/v1/oauth2/token'
  EndPoint_TrackersBatch: '/v1/shipping/trackers-batch'

LiveAPI:
  BaseUrl: 'https://api-m.paypal.com'
  EndPoint_Token: '/v1/oauth2/token'
  EndPoint_TrackersBatch: '/v1/shipping/trackers-batch'

